/* 
#00952C - green
#009549 - table green
#FF2600 - red/orange
#FDB3B3 - pink
#FF6E43 - orange 
#CC3429 - hearts red
*/

body {
  background-color: #CC3429;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Roboto';
}

h1 {
  font-family: Casino, sans-serif;
  font-size: 90px;
  margin: 0px;
}

header {
  background-color: #009549;
  color: #DAA520;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 100%;
  max-width: 800px;
  margin: 10px 0px;
}

footer {
  background-color: #CC3429;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playboard {
  /* background-image: url("./assests/green.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: #009549;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 0px 30px;
}

#dealer-side, #player-side {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 200px;
  max-width: 100%;
}

#dealer-cards, #player-cards {
  width: 80vw;
}

.controls {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#player-deck:hover {
  -webkit-filter: contrast(4);
  filter: contrast(4);
}

.card {
  max-width: 200px;
  min-width: 30px;
  width: 100%;
}

.score {
  font-size: 120px;
  border: 2px solid black;
  width: 150px;
  height: calc(100vh / 100vw * 100%);
  border-radius: 50%;
  text-align: center;
  padding: 30px;
}

.action-btn {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0px 10px 10px 10px;
  border: 1px solid black;
  text-decoration: none;
  background: linear-gradient(#FF6E43, #CC3429);
  color: #ffffff;
  font-family: sans-serif;
  font-size: 3rem;
  cursor: pointer;
  text-align: center;
  border-radius: 10px;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.action-btn:hover, .action-btn:focus {
  background: #CC3429;
}

#restart-btn {
  display: none;
}

.show-result {
  background-color: #FDB3B3;
  height: 200px;
  width: 400px;
  position: fixed;
  top: calc(50% - 100px);
  left: calc(50% - 200px);
  z-index: 1;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  font-size: 50px;
}




@media screen and (max-width: 650px) {
  div.example {
    font-size: 30px;
  }
  .action-btn {
    font-size: 2rem;
  }
  .card {
    max-width: 80px;
    min-width: 25px;
  }

  .score {
    font-size: 20px;
    width: 30px;
  }

  .playboard {
    background-color: #009549;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
  }

  .show-result {
    height: 100px;
    width: 250px;
    top: calc(50% - 50px);
    left: calc(50% - 125px);
    border-radius: 50px;
    border: 1px solid black;
    font-size: 30px;
  }
  
}