/* 
#00952C - green
#009549 - table green
#FF2600 - red/orange
#FDB3B3 - pink
#FF6E43 - orange 
*/

body {
  margin: 0;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  background-color: #FF6E43;
  height: 100px;
}

main {
  /* background-image: url("./assests/green.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: #009549;
  flex-grow: 1;
}

footer {
  background-color: #FF6E43;
  height: 100px;
}

.playboard {
  display: flex;
  flex-direction: column;
}

.dealer-side {
  background-color: rgb(224, 250, 164);
  flex-grow: 1;
}

.player-side {
  background-color: lightcyan;
  flex-grow: 1;
}

.controls {
  background-color: lightblue;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  min-height: 200px;
  height: 100%;
  max-height: 400px;
}